*{
    margin: 0;
    padding: 0;
}

body{
    /* 弹性盒子布局 */
    display: flex;
    justify-content: center;
    background-color: rgb(160, 170, 206);
}

.wrap{
    width: 1000px;

    position: relative;
    top: 100px;
}

.warp ::after{
    content: "";
    position: absolute;
    top: -100px;
    left: 50%;
    width: 5px;
    z-index: -9999;
    height: 10000px;
    background-color: rgba(255, 255, 255, .5);
}
.box{
    position: relative;
    width: 100%;
    height: 120px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.left,.right{
   position: relative;
   width: 40%;
   height: 120px;
  
   border-radius: 15px;
   color: aliceblue;
   text-align: center;

}
/*偶数*/
.box:nth-child(even) .left{
    background-color: #bc6a6a;
    box-shadow: 0,0,10px,rgba(0, 0, 0, 0.3);
}
/*奇数*/
.box:nth-child(odd) .right{
    background-color: #6a9fbc;
    box-shadow: 0,0,10px,rgba(0, 0, 0, 0.3);
}

.center{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.center > span{
    width: 120px;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    font: 900 24px '';
    line-height: 50px;
}